<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>file sharing</title>
</head>
<body>
    <style>
        body
        {
            display: flex;
            background-color: black;
            height: 100vh;
            color: white;
            justify-content:center ;
            align-items: center;
        }
        .file
        {
     
            padding-top: 10px;
            margin-left: 40px;
        }
        .password
        {
            margin-top: 10px;
            margin-left: 40px;
            
        }
    </style>
    <% if(locals.filelink !=null){ %>
        <div style="margin-bottom:2px;">
            your file is uploaded 
            <a href="<%= locals.filelink %>"><%= locals.filelink %></a>
        </div>
        <%}%>
    <form action="/upload" method="post" enctype="multipart/form-data" >
        <label for="file">FILE:</label>
        <br>
        <input type="file" class="file" id="file" name="file" required>
        <br>
        <br>
        <label for="password">password:</label>
       <br>
        <input class="password" type="password" id="password" name="password" >
        <button type="submit">share</button>
    </form>
    
</body>
</html>